#details-header {
    background: #96CDFF;
    padding: 10vh;

    & div {
        padding-top: 3vh;

        & > button {
            $border-col: blue;

            //background-color: red;
    /*        border: 2px solid $border-col;
            border-radius: 10px;

            &:hover {
                background-color: $border-col;
                color: white;
            }*/
        }
    }

}
